__pycache__/
*.py[cod]
.venv/
logs/
data/*.tmp
data/*.json
data/models/
data/browser_profiles/
.env
.env.*

.venv_piper/
*.pdb

.venv_piper/
*.pdb
tools/piper_native_build/native_build/
download/
*.stdout.txt
*.stderr.txt
tools/piper_native_build/
tools/piper_native_build/
